<div class="footer_holder clearfix">



    <div class="footer_top_holder" style="background: url('/Images/parallaxunderwater7.jpg'); ">
        <div class="footer_top">

            <div class="four_columns clearfix">
                <div class="column1 footer-col">
                    @*<div class="column_inner">
                            <h6>Công ty TNHH DV LẶN BIỂN XANH </h6>			<div class="textwidget">
                                <ul>
                                    <li>38b Trần Phú, P.Vĩnh Nguyên, Nha Trang </li>
                                    <li>ĐT: (0583)591079 Fax: (0583) 591078 </li>
                                    <li>Email: sales@lanbienxanh.vn</li>
                                </ul>
                                <br />
                                <br />
                                <ul>
                                    <li>GP Lữ hành Quốc tế:  </li>
                                    <li>GPĐKKD: 4201191802  </li>
                                    <li>Do Sở KHĐT Tỉnh KH cấp ngày 14/06/2010</li>
                                </ul>
                            </div>
                            <div class="textwidget">
                                <br>
                                <ul class="social_menu light"><li class="twitter"><a href="http://www.twitter.com" target="_blank"><span class="inner">twitter</span></a></li><li class="youtube"><a href="http://www.youtube.com" target="_blank"><span class="inner">youtube</span></a></li><li class="vimeo"><a href="http://www.vimeo.com" target="_blank"><span class="inner">vimeo</span></a></li><li class="facebook"><a href="http://www.facebook.com" target="_blank"><span class="inner">facebook</span></a></li><li class="linkedin"><a href="http://www.linked-in.com" target="_blank"><span class="inner">linkedin</span></a></li>           </ul>
                            </div>
                        </div>*@
                    <div class="column_inner">
                        <h6>THÔNG TIN</h6><div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="menu">
                                <li id="menu-item-3470" class=""><a href="/thong-tin/gioi-thieu">Giới thiệu</a></li>
                                @*<li id="menu-item-3470" class=""><a href="/thong-tin/khach-hang">Khách hàng</a></li>*@
                                <li id="menu-item-3471" class=""><a href="/lien-he">Liên hệ</a></li>
                                @*<li id="menu-item-3475" class=""><a href="/thong-tin/labixa-la-gi">@Resources.WhatIsLabixa</a></li>*@
                            </ul>
                        </div>
                        @*<h6 style="margin-top: 30px; line-height: 25px;">LABIXA - NHÀ TỔ CHỨC TOUR LẶN BIỂN CHUYÊN NGHIỆP</h6>
                            <div class="">

                                <img src="/Images/LabixaCup.png" />
                            </div>*@
                    </div>
                </div>
                <div class="column2 footer-col">
                    <div class="column_inner">
                        <h6>HỖ TRỢ CHUNG</h6><div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="menu">
                                <li id="menu-item-3470" class=""><a href="/thong-tin/huong-dan-dat-tour">Hướng dẫn đặt tour</a></li>
                                <li id="menu-item-3470" class=""><a href="/thong-tin/huong-dan-thanh-toan">Hướng dẫn thanh toán</a></li>
                                @*<li id="menu-item-2098" class=""><a href="/thong-tin/so-do-duong-di">Sơ đồ đường đi</a></li>
                                <li id="menu-item-3471" class=""><a href="/thong-tin/cam-nang-du-lich">Cẩm nang du lịch</a></li>*@
                                <li id="menu-item-3475" class=""><a href="/thong-tin/quy-dinh-chung">Quy định chung</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column3 footer-col">
                    @*<div class="column_inner">
                            <h6>THÔNG TIN</h6><div class="menu-footer-menu-container">
                                <ul id="menu-footer-menu" class="menu">
                                    <li id="menu-item-3470" class=""><a href="#">Giới Thiệu Labixa</a></li>
                                    <li id="menu-item-3470" class=""><a href="#">Báo chí viết về Labixa</a></li>
                                    <li id="menu-item-2098" class=""><a href="#">Mô hình bè Du Lịch nổi tiếng</a></li>
                                    <li id="menu-item-3471" class=""><a href="#">Tri ân khách hàng</a></li>
                                    <li id="menu-item-3475" class=""><a href="#">Liên Hệ đăt Tour</a></li>
                                </ul>
                            </div>
                            <h6 style="margin-top: 30px; line-height: 25px;">LABIXA - NHÀ TỔ CHỨC TOUR LẶN BIỂN CHUYÊN NGHIỆP</h6>
                            <div class="">

                                <img src="/Images/LabixaCup.png" />
                            </div>
                        </div>*@
                    <div class="column_inner">
                        <h6>LIÊN KẾT</h6><div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="menu">
                                <li id="menu-item-3470" class=""><a href="/thong-tin/quyen-loi-hop-tac">@Resources.BenefitsOfCooperation</a></li>
                                <li id="menu-item-3470" class=""><a href="/thong-tin/gioi-thieu-mo-hinh--">@Resources.IntroduceModel </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column3 footer-col">
                    <div class="column_inner">
                        <h6>LABIXA</h6>
                        <ul>
                            @*<li>    <a href="#"><h5>Chi Nhánh Nha Trang</h5></a></li>*@
                            <li><strong> @Resources.HeadQuarter</strong> @Resources.HeadQuarterAddress</li>
                        
                            <li><strong>@Resources.OfficeTransactions </strong> @Resources.OfficeTransactionsAddress</li>       
                            <li><strong>@Resources.BusinessLicenseRegistration</strong> @Resources.BusinessLicenseRegistrationContent</li>   
                                               
                        </ul>
                        <br />
                        @*<h6>Chi Nhánh TP.Hồ Chí Minh</h6>
                            <ul>
                                <li>    <a href="#"><h5>Chi Nhánh TP.Hồ Chí Minh</h5></a></li>
                                <li>650/4/7 Đ.Biên Phủ, P. 11, Q. 10, Hồ Chí Minh</li>
                                <li>ĐT: 08.383038.68 - 08.383038.79 </li>
                                <li>Email: sales@lanbienxanh.vn</li>
                            </ul>
                            <br />
                            <h6>Chi Nhánh TP.Hà Nội</h6>
                            <ul>
                                <li>    <a href="#"><h5>Chi Nhánh TP.Hà Nội</h5></a></li>
                                <li>38b Trần Phú, P.Vĩnh Nguyên, Nha Trang </li>
                                <li>ĐT: (0583)591079 Fax: (0583) 591078 </li>
                                <li>Email: sales@lanbienxanh.vn</li>
                            </ul>*@
                    </div>
                </div>
                @*<div class="column4" style="min-height: 161px;">
                        <div class="column_inner">
                            <h6>LIÊN KẾT</h6>
                            <ul>
                                <li class="">
                                    <a title="Facebook" href="https://www.facebook.com/pages/Labixa-Travel-Event/235151673319506" target="_blank"><div class="ft3-nd1">&nbsp;</div><div class="ft3-nd2">Facebook</div></a>
                                </li>
                                <li class="">
                                    <a title="Twitter" href="#" target="_blank"><div class="ft3-nd3">&nbsp;</div><div class="ft3-nd2">Twitter</div></a>
                                </li>
                                <li class="">
                                    <a title="Zing" href="http://me.zing.vn/u/lanbienxanh.vn" target="_blank"><div class="ft3-nd5">&nbsp;</div><div class="ft3-nd2">Zing</div></a>
                                </li>
                                <li class="">
                                    <a title="Youtube" href="http://www.youtube.com/watch?v=Ymhgfk1Jy4E" target="_blank"><div class="ft3-nd7">&nbsp;</div><div class="ft3-nd2">Youtube</div></a>
                                </li>
                                <li class="">
                                    <a title="Google Plus +" href="https://plus.google.com/104364983772276652139" rel="publisher"><div class="ft3-nd7">&nbsp;</div><div class="ft3-nd2">Google +</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>*@
            </div>
            <div class="four_columns clearfix">
                <div class="social-footer">
                    <div class="inner-block" style="text-align: center">
                        HOTLINE:  0583.591.079 -0123.929.0123
                    </div>
                    <div class="inner-block">
                        <ul>
                            <li>
                                <a title="Facebook" href="https://www.facebook.com/pages/Labixa-Travel-Event/235151673319506" target="_blank">
                                    <img src="~/Images/social/Facebook.png" />
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" href="#" target="_blank">
                                    <img src="~/Images/social/Twitter-Bird.png" />
                                </a>
                            </li>
                            <li>
                                <a title="LinkedIn" href="#" target="_blank">
                                    <img src="~/Images/social/LinkedIn.png" />
                                </a>
                            </li>
                            <li>
                                <a title="Google+" href="#" target="_blank">
                                    <img src="~/Images/social/Google%20Plus.png" />
                                </a>
                            </li>
                            <li>
                                <a title="Youtube" href="#" target="_blank">
                                    <img src="~/Images/social/YouTube1.png" />
                                </a>
                            </li>
                            <li>
                                <a title="Pinterest" href="#" target="_blank">
                                    <img src="~/Images/social/Pinterest.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="inner-block">
                        <ul>
                            <li>
                                <a title="Facebook" href="https://www.facebook.com/pages/Labixa-Travel-Event/235151673319506" target="_blank">
                                    <img src="~/Images/social/agri.png" />
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" href="#" target="_blank">
                                    <img src="~/Images/social/viet.png" />
                                </a>
                            </li>
                         
                        </ul>
                    </div>*@
                    <div class="inner-block" style="border: none;">
                        <ul>
                            <li>
                                <a title="Facebook" href="https://www.facebook.com/pages/Labixa-Travel-Event/235151673319506" target="_blank">
                                    <img src="~/Images/social/agri.png" />
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" href="#" target="_blank">
                                    <img src="~/Images/social/viet.png" />
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" href="#" target="_blank">
                                    <img src="~/Images/social/Citibank.png" />
                                </a>
                            </li>
                            @*<li>
                                <a title="Twitter" href="#" target="_blank">
                                    <img src="~/Images/social/logo[1].png" />
                                </a>
                            </li>*@
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer_bottom_holder">
        <div class="footer_bottom">
            <div class="textwidget">© Copyright Labixa 2014</div>
        </div>
    </div>
</div>