@model dynamic
@{
    var session = ""; //["wwid"]

    if (Session["role"] != null)
    { session = Session["role"].ToString().ToLower(); }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/Common")
    @RenderSection("head", required: false)
    @Scripts.Render("~/Scripts/Common")
    @RenderSection("scripts", required: false)
</head>
<body onload="delete_cookie('_culture')">
    <div class="navbar navbar-default" id="navbar" style="background:#0062a8">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    @*<small>*@
                    @*<i class="icon-money icon-large"></i>*@

                    <img src="/Images/Intel Logo White.png" style="width:150px;height:100px" />
                    <span>VIMT</span>
                    @*<p>@session</p>*@

                    @*</small>*@
                </a>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="background:#0062a8">
                            <span class="user-info">
                                <small>Welcome, @Session["user"]</small>
                                @*@model Labixa.Areas.Admin.ViewModel.LoginFormModel
                                    <div class="page-header">
                                        <h1 style="text-align: center; margin-bottom: 20px;">
                                            Welcome @Model.name*@
                                @*@User.Identity.Name*@
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        @if (!(session.Equals("")))
                        {
                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                @*<li>
                                        <a href="#">
                                            <i class="icon-cog"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-user"></i>
                                            Profile
                                        </a>
                                    </li>
                                    <li class="divider"></li>*@
                                <li>
                                    @*@Html.ActionLink("Đăng xuất", "SignOut", "Account")*@
                                    <a href="/Dashboard/Logoff">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container-inner">
        <div class="sidebar" id="sidebar">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                @*<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <button class="btn btn-success">
                            <i class="icon-signal"></i>
                        </button>

                        <button class="btn btn-info">
                            <i class="icon-pencil"></i>
                        </button>

                        <button class="btn btn-warning">
                            <i class="icon-group"></i>
                        </button>

                        <button class="btn btn-danger">
                            <i class="icon-cogs"></i>
                        </button>
                    </div>*@

                @*<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini" style="
                                          background: #A83F3F;
                                      ">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>*@


            </div>
            <ul class="nav nav-list">
                <li>
                    <a href="/" class="dropdown-toggle">
                        <i class="icon-home"></i>
                        <span class="menu-text">
                            Home
                            <span class="badge badge-primary "></span>
                        </span>
                        <b class=""></b>
                    </a>
                </li>



                @if (!(session.Equals("")))
                {
                    if (session.Equals("super user"))
                    {

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-edit"></i>
                                <span class="menu-text">
                                    Manage Vendors
                                    <span class="badge badge-primary ">2</span>
                                </span>
                                <b class=""></b>
                            </a>
                            <ul class="submenu" style="overflow: hidden; display: none;">
                                <li>
                                    <a href="/Vendor">
                                        <i class="icon-double-angle-right"></i>
                                        See All Vendors
                                    </a>
                                </li>
                                <li>
                                    <a href="/Vendor/Create">
                                        <i class="icon-double-angle-right"></i>
                                        Add New Vendor
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }



                    if (session.Equals("super user"))
                    {
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="  icon-shopping-cart"></i>
                                <span class="menu-text">
                                    Manage Item Vendors
                                    <span class="badge badge-primary ">2</span>
                                </span>
                                <b class=""></b>
                            </a>
                            <ul class="submenu" style="overflow: hidden; display: none;">
                                <li>
                                    <a href="/ItemVendor">
                                        <i class="icon-double-angle-right"></i>
                                        View All Items
                                    </a>
                                </li>

                                <li>
                                    <a href="/ItemVendor/Create/">
                                        <i class="icon-double-angle-right"></i>
                                        Add Item Vendor
                                    </a>
                                </li>

                            </ul>

                        </li>
                    }




                    <li>
                        <a href="/Invoice" class="dropdown-toggle">
                            <i class=" icon-th"></i>
                            <span class="menu-text">
                                Manage Invoices
                            @if (session.Equals("accountant") || session.Equals("requestor manager"))
                            {
                                <span class="badge badge-primary ">1</span>
                            }
                            else
                            {
                                <span class="badge badge-primary ">2</span>
                            }
                            </span>
                            @*<b class=""></b>*@
                        </a>
                        <ul class="submenu" style="overflow: hidden; display: none;">
                            <li>
                                <a href="/Invoice">
                                    <i class="icon-double-angle-right"></i>
                                    View All Invoices
                                </a>
                            </li>
                            @if (session.Equals("super user") || session.Equals("requestor"))
                            {
                                <li>
                                    <a href="/Invoice/CreateVendor">
                                        <i class="icon-double-angle-right"></i>
                                        Add New Invoice
                                    </a>
                                </li>
                            }
                            @if (session.Equals("accountant manager"))
                            {
                                <li>
                                    <a href="/Invoice/ViewPaymentDashboard">
                                        <i class="icon-double-angle-right"></i>
                                        View Payment Dashboard
                                    </a>
                                </li>
                            }
                        </ul>

                    </li>


                    if (session.Equals("super user"))
                    {

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class=" icon-cog"></i>
                                <span class="menu-text">
                                    Manage Statuses
                                    <span class="badge badge-primary ">2</span>
                                </span>
                                <b class=""></b>
                            </a>
                            <ul class="submenu" style="overflow: hidden; display: none;">
                                <li>
                                    <a href="/Status">
                                        <i class="icon-double-angle-right"></i>
                                        View All Statuses
                                    </a>
                                </li>
                                <li>
                                    <a href="/Status/Create">
                                        <i class="icon-double-angle-right"></i>
                                        Add New Status
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class=" icon-user"></i>
                                <span class="menu-text">
                                    Manage Roles
                                    <span class="badge badge-primary ">2</span>
                                </span>
                                <b class=""></b>
                            </a>
                            <ul class="submenu" style="overflow: hidden; display: none;">
                                <li>
                                    <a href="/RoleGroup">
                                        <i class="icon-double-angle-right"></i>
                                        View All Roles
                                    </a>
                                </li>
                                <li>
                                    <a href="/RoleGroup/Create">
                                        <i class="icon-double-angle-right"></i>
                                        Add New Role
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
                    <li>
                        <a href="/Dashboard/Logoff">
                            <i class="icon-cog"></i>
                            <span class="menu-text">Log Out</span>
                        </a>
                    </li>

                }







            </ul>
                @*<div style=" position: relative; margin-top:10px" class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <ul class="nav nav-list">
                        <li>
                            <img src="~/Content/VIMT/1280px-Intel-logo.svg.png" style=" width: 82px; position: absolute; top: 110px; left: 53px;" />
                            <img src="~/Content/VIMT/hipsterlogogenerator_1437187042159.png" style=" width: 282px; position: absolute; left: -46px; margin-top: 10px; z-index: 1;" />
                        </li>
                    </ul>
                </div>*@
                <!-- /.nav-list -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>
        </div>

        <div class="main-content">
            @RenderSection("breadcrumb", required: false)

            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script>
    </script>
</body>

</html>
