@{
    //ViewBag.Title = Model.MetaTitle;
}
@*@using Outsourcing.Core.Extensions;*@



@model Labixa.Areas.Admin.ViewModel.ItemVendorViewModels
@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="/ItemVendor">Manage Item Vendors</a>
            </li>
            <li class="active">Edit Item Vendor</li>
        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-info">
                Edit content : @Model.VendorId
            </div>
            @if (Model != null)
            {
                using (Html.BeginForm("Edit", "ItemVendor", null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                   
                    @Html.HiddenFor(model => model.Note);
                    @Html.HiddenFor(model => model.ID);
                    @Html.HiddenFor(model => model.isDelete);
                
               
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1">
                                    <i class="green icon icon-home bigger-120"></i>
                                    Content
                                </a>
                            </li>

                            @*<li class="">
                                    <a data-toggle="tab" href="#tab2">
                                        <i class="red  icon-rocket bigger-120"></i>

                                        Chỉnh sửa SEO
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab3">
                                        <i class="blue  icon-picture bigger-120"></i>
                                        Thuộc tính sản phẩm
                                    </a>
                                </li>

                                <li class="">
                                    <a data-toggle="tab" href="#tab4">
                                        <i class="blue  icon-picture bigger-120"></i>
                                        Hình ảnh
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab5">
                                        <i class="blue  icon-picture bigger-120"></i>
                                        Tour Liên Quan
                                    </a>
                                </li>*@
                        </ul>

                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade active in">

                                @*<div class="form-group ">
                                    Vendor Name
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.VendorName)
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>*@


                                @*<div class="form-group ">
                                        @Html.MyLabelFor(model => model.IsPublic)
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.IsPublic)
                                            @Html.ValidationMessageFor(model => model.IsPublic)
                                        </div>
                                    </div>*@
                                @*<div class="form-group ">
                                        @Html.MyLabelFor(model => model.Position)
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.Position)
                                            @Html.ValidationMessageFor(model => model.Position)
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        @Html.MyLabelFor(model => model.IsHomePage)
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.IsHomePage)
                                            @Html.ValidationMessageFor(model => model.IsHomePage)
                                        </div>
                                    </div>*@

                                @*<div class="form-group ">
                                        @Html.MyLabelFor(model => model.ProductImage)
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.ProductImage)
                                            <a href="javascrip:void(0)" id="GetElImage" class="btn btn-success"><i class="icon-upload"></i>Chọn ảnh</a>
                                            @Html.ValidationMessageFor(model => model.ProductImage)
                                        </div>
                                    </div>*@

                                
                                @Html.DisplayNameFor(model => model.VendorId)
                                <div class="form-group ">
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.VendorId, Model.ListVendors)
                                    </div>
                                </div>

                                Item Name:
                                <div class="form-group ">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ItemName)
                                    </div>
                                </div>
                                Price:
                                <div class="form-group ">
                                  
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Price)
                                    </div>
                                </div>
                                Unit:
                                <div class="form-group ">
                                    
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Unit)
                                    </div>
                                </div>
                                @*<div class="form-group ">
                                        @Html.MyLabelFor(model => model.OldPrice)
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.OldPrice)
                                            @Html.ValidationMessageFor(model => model.OldPrice)
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        @Html.MyLabelFor(model => model.Content)
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.Content, "CkEditor")
                                            @Html.ValidationMessageFor(model => model.Content)
                                        </div>
                                    </div>*@
                            </div>


                        </div>
                    </div>



                    @*
                        partial for group button
                    *@
                    @Html.Partial("_PartialButtonGroup", "/ItemVendor")
                }
            }
            else
            {
                <h1>NOT FOUND Item Vendor!</h1>
            }
        </div>
    </div>
</div>