@section scripts{
    <script src="/Content/admin/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/Content/admin/js/jquery.dataTables.bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/StatusColor.css" rel="stylesheet" />
}
     

@using Outsourcing.Core.Common;
@model IEnumerable<Outsourcing.Data.Models.Invoice>
                        







@* ======================================================================================= *@

<table id="productTable" class="table table-bordered table-striped table-fixed-header">
    <thead>
        <tr role="row">
            <th>STT</th>
            <th>Vendor Name</th>
            <th>Total Payment</th>
            <th>WWID Request</th>
            <th>Status</th>
            <th>Is CDS</th>
            <th>Create Date</th>
            @*<th>Status</th>*@

           
        </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
        @if (Model.Count() > 0)
        {
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr class="odd">
                    @{
                String isReject = item.UserInvoices.LastOrDefault().isReject.ToString();
                isReject = StringConvert.ConvertShortName(isReject);
                
                
                    }
                    <td class=" sorting_1">@count</td>
                    <td class="hidden-480 ">@item.InvoiceItems.FirstOrDefault().ItemVendor.Vendor.VendorName</td>
                    @{
                double money = double.Parse(item.totalPayment.ToString());
                String convert = MoneyConvert.So_chu(money);
                    }

                    <td class="hidden-480 ">@item.totalPayment.ToString("##,###,##0")<br />@*(@convert)*@</td>
                    <td class="hidden-480 ">@item.UserInvoices.FirstOrDefault().UserTable.WWID</td>
                    @{
                String status = item.UserInvoices.LastOrDefault().Status.StatusName.ToString();
                status = StringConvert.ConvertShortName(status);
                    }
                    <td class="hidden-480">

                        @if (isReject.Equals("true"))
                        {
                            <span style="font-weight:bold;color: red">
                                @*@item.UserInvoices.LastOrDefault().Status.StatusName (@item.UserInvoices.LastOrDefault().Status.Note)*@
                                Rejected
                            </span>
                        }
                        else if(item.isDelete == true)
                        {
                             <span style="font-weight:bold;color: red">                              
                               Canceled Invoice
                            </span>
                        }
                        else
                        {
                            <span class="@status">
                                @item.UserInvoices.LastOrDefault().Status.StatusName (@item.UserInvoices.LastOrDefault().Status.Note)
                            </span>
                        }

                    </td>
                    <td class="hidden-480 ">@item.IsCDS</td>
                    <td class="hidden-480 ">@item.UserInvoices.FirstOrDefault().CreatedDate.ToShortDateString()</td>


                    @*<td class="hidden-480 "><span class="@isReject">@item.UserInvoices.LastOrDefault().isReject</span></td>*@
                    @*<td class="hidden-480 ">@item.UserInvoices.LastOrDefault().isReject</td>*@

                 





                    @*<td class=" ">
                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                <a href="/Admin/Booking/Edit?productId=@item.Id" class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-160"></i>
                                </a>
                                <a href="/Admin/Product/Delete?productId=@item.Id" class="btn btn-xs btn-danger">
                                    <i class="icon-trash bigger-160"></i>
                                </a>
                            </div>
                        </td>*@
                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">



    $(document).ready(function () {
        var table = $("#productTable").DataTable();
        //var arrayfilter = [2, 4];

        createDropFilter(table, [0]);
        bindDropFilter(table, [1]);
        bindDropFilter(table, [2]);
        bindDropFilter(table, [6]);


    });

    function createDropFilter(table, array) {
        array.forEach(function (i) {
            var selector = ".filter_" + i;
            var filter1 = $(selector);
            filter1.on('change', function () {
                table.column(i)
                    .search($(this).val())
                    .draw();
            });

            table.column(i).data().unique().sort().each(function (d, j) {
                filter1.append('<option value="' + d + '">' + d + '</option>');
            });

        });
    }
    function bindDropFilter(table, array) {
        array.forEach(function (i) {
            var selector = ".filter_" + i;
            var filter1 = $(selector);
            filter1.on('change', function () {
                table.column(i)
                    .search($(this).val())
                    .draw();
            });
        });
    }
</script>